<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>Banco PIRAMIDE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>
<body>
<div class="container">
    <header>
        <!-- BARRA DE NAVEGACION -->
        <nav class="nav nav-pills nav-fill">
            <a class="navbar-brand" href="/">
                <img src="/static/images/PIRAMIDE.png" alt="" width="215" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <li class="nav-item">
                <a id="Navegacion" class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a id="Navegacion" class="nav-link active" aria-current="page" href="">¿Quienes somos?</a>
            </li>
            <li class="nav-item">
                <a id="Navegacion" class="nav-link" href="Galeria">Clientes</a>
            </li>
            <li class="nav-item">
                <a id="Navegacion" class="nav-link" href="Consultas">Ayuda</a>
            </li>
            <li class="nav-item">
                <a id="Navegacion" class="nav-link" href="Registro">Crear cuenta</a>
            </li>
        </nav>
    </header>
    <hr>
      <p align="center">Sitio web en mantención.</p>
    <hr>
    <article>
        <!-- CARRUSEL DE IMAGENES -->
        <div class="row">
            <div class="col">
                <h1>Fundada hace muy poco tiempo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolores repellat, recusandae enim, quis amet beatae voluptates neque eius rem quidem non ipsum. Esse quo beatae mollitia doloremque dolores nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, doloribus. Hic molestiae error cum minus, numquam dolorem commodi ad perspiciatis esse et similique? Tempore, accusantium consectetur libero delectus ducimus recusandae!</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/static/images/Oficina.png" width="100%">
                <div style="text-align: center;">
                    <p>
                        <strong>Oficinas Banco Piramide</strong>
                        <br>
                        <em>Santiago, Chile</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Nuestro punto de vista</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quisquam sunt dolorum fugiat ad minus, omnis ea perspiciatis, necessitatibus reiciendis ipsum recusandae eum laudantium! Harum tempora voluptate repellat natus similique.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis a labore earum ratione, nihil perspiciatis voluptate illum soluta at optio qui necessitatibus alias, sapiente, quidem nostrum aut quae quis?</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h4>24/7</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam cupiditate nobis perferendis aspernatur ducimus inventore, beatae quasi quae laboriosam, voluptas tenetur deleniti nulla obcaecati dolore! Aliquid quod tempora non aut?</p>
            </div>
            <div class="col-md-6">
                <h4>Aquí siempre</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam cupiditate nobis perferendis aspernatur ducimus inventore, beatae quasi quae laboriosam, voluptas tenetur deleniti nulla obcaecati dolore! Aliquid quod tempora non aut?</p>
            </div>
        </div>
        <hr>
    </article>
    <footer>
        <!-- PIE DE PAGINA -->
        <div class="text-center">
            <div class="card-body">
                <h5 class="card-title">Contactenos a traves de los canales</h5>
                <br>
                <a href="tel:943211234" class="btn btn-primary">+56 (9) 4321 1234</a>
                <a href="mailto:contacto@piramide.com" class="btn btn-primary">contacto@piramide.com</a>
                <a href="tel:243211234" class="btn btn-primary">+56 (2) 4321 1234</a>
            </div>
            <hr>
            <div class="card-footer text-muted">
                Copyright (C) 2022 PIRAMIDE
            </div>
            <br>
        </div>
    </footer>
</div>
</body>
</html>